header{
    background-color: var(--verdeescuro);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--verdeclaro);
    
}

.logo{
    width: 130px;    
}




