
.categorias{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 16px;
    a {
        text-decoration: none;
        color: white;
        background-color: var(--verdeclaro);
        padding: 12px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px 1px black;
    }
    a:hover{
        transition: 0.5s;
        color: black;
        background-color: transparent;
        box-shadow: none;
    }

}

.produto{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #174b32;
    border: 2px solid #80b276;
    margin-top: 40px;
    margin: 20px 0 20px 0;
}


.contato{
    background-color: #174b32;
    margin-top: 150px;
    padding: 20px;
    border: 2px solid #80b276;
    .textocontato{
        color:#80b276;
    }

    .labeltexto{
        background-color: #80b276;
    }
}

.div-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    img{
        width: 200px;
    }
}

.product-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-description {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}

.cart-button {
    background: none;
    border: none;
    cursor: pointer;
}

.cart-button img {
    width: 30px;
    height: 30px;
}

.carrinho{
    background-color: transparent;
    border: none;
    cursor: pointer;
    i{
        color: #7a7a7a;
    }
}
.carrinho:hover{
    background-color: #ccc;
    transition: 0.5s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

